

.popu {
    text-align: center;
    margin-top: 70px;
    font-size: 30px;
}
.dis {
    display: flex;
}

.chop {


    margin-left: 220px;
}

.aull {
    height: 180px;
    width: 220px;
}

.bull {
    display: flex;

}

.cull {
    height: 40px;
    margin-top: 0px;

}

.fw {
    font-size: 15px;
    margin-top: 1px;
    margin-left: 15px;
}

.star {
    height: 20px;
    position: absolute;
    right: 1050px;
    display: flex;

}

.four {
    font-size: 16px;
    position: absolute;
    right: 1030px;
    color: rgba(255, 179, 14, 1);
    margin-top: 12px;


}

.open {

    border: none;
    margin-top: 30px;
    height: 30px;
    width: 150px;
    border-radius: 16px;
    background-color: rgba(241, 114, 40, 0.2);

}

.tomor {
    position: absolute;
    top: 2110px;
    font-size: 15px;
    color: rgba(241, 114, 40, 1);
    margin-left: 20px;


}

.ot {
    border: none;
    margin-top: 30px;
    height: 30px;
    width: 100px;
    border-radius: 16px;
    background-color: rgba(121, 185, 60, 0.2);

}


.rgba {

    position: absolute;
    top: 2110px;
    font-size: 15px;
    color: rgba(121, 185, 60, 1);

    margin-left: 15px;
}

.chops {
    margin-left: 7px;
}

.stars {
    height: 20px;
    position: absolute;
    right: 821px;
    display: flex;

}


.fours {
    font-size: 16px;
    position: absolute;
    right: 800px;
    color: rgba(255, 179, 14, 1);
    margin-top: 12px;


}


.starone {
    height: 20px;
    position: absolute;
    right: 595px;
    display: flex;

}


.fourone {
    font-size: 16px;
    position: absolute;
    right: 575px;
    color: rgba(255, 179, 14, 1);
    margin-top: 12px;


}




.startwo {
    height: 20px;
    position: absolute;
    right: 368px;
    display: flex;

}


.fourtwo {
    font-size: 16px;
    position: absolute;
    right: 346px;
    color: rgba(255, 179, 14, 1);
    margin-top: 12px;
}

.green {
    border: none;
    margin-top: 30px;
    height: 30px;
    width: 100px;
    border-radius: 16px;
    background-color: rgba(121, 185, 60, 0.2);

}

.greens {
    font-size: 15px;
    color: rgba(121, 185, 60, 1);
    position: absolute;
    top: 2445px;
    margin-left: 15px;
}

.rgbas {
    position: absolute;
    top: 2445px;
    font-size: 15px;
    color: rgba(121, 185, 60, 1);

    margin-left: 15px;

}



.view {
    background-color: rgba(255, 179, 14, 1);
    margin-top: 70px;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 14px;
    margin-left: 600px
}

.all {
    display: flex;
    font-size: 18px;
    color: white;
    margin-left: 15px;
    position: absolute;
    margin-top: 8px;

}

.aroo {
    margin-left: 90px;
    margin-top: 13px;
}
